body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100px;
  margin: 50px auto;
  padding: 20px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.container__action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container__action__limit-page select {
  height: 30px;
  width: 50px;
  border-radius: 5px;
}

.container__action__search {
  margin-left: auto;
}

.container__action__search input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 0 7px;
}

.container__table {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 720px;
  margin: 20px 0;
}

.container__table table {
  border-collapse: collapse;
}

.container__table table tr, .container__table table .row-item {
  border: solid;
  border-width: 1.5px 0;
  border-color: #ccc;
}

.container__table table tr th, .container__table table .row-item th {
  padding: 7px;
  text-align: left;
  font-weight: normal;
}

.container__table table tr th:nth-child(1), .container__table table tr td:nth-child(1), .container__table table .row-item th:nth-child(1), .container__table table .row-item td:nth-child(1) {
  width: 150px;
}

.container__table table tr th:nth-child(2), .container__table table tr td:nth-child(2), .container__table table .row-item th:nth-child(2), .container__table table .row-item td:nth-child(2) {
  width: 250px;
}

.container__table table tr th:nth-child(3), .container__table table tr td:nth-child(3), .container__table table .row-item th:nth-child(3), .container__table table .row-item td:nth-child(3) {
  width: 120px;
}

.container__table table tr th:nth-child(4), .container__table table tr td:nth-child(4), .container__table table .row-item th:nth-child(4), .container__table table .row-item td:nth-child(4) {
  width: 70px;
}

.container__table table tr th:nth-child(5), .container__table table tr td:nth-child(5), .container__table table .row-item th:nth-child(5), .container__table table .row-item td:nth-child(5) {
  width: 100px;
}

.container__table table tr th:nth-child(6), .container__table table tr td:nth-child(6), .container__table table .row-item th:nth-child(6), .container__table table .row-item td:nth-child(6) {
  width: 120px;
}

.container__table table tr td, .container__table table .row-item td {
  padding: 7px;
}

.container__table table .row-title {
  border: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container__table table .row-title th {
  font-weight: 600;
  position: relative;
  cursor: pointer;
}

.container__table table .row-title th div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container__table table .row-title th div i {
  font-size: 10px;
  color: #ccc;
}

.container__table table .row-title th:first-child {
  background-color: #fff;
}

.container__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__pagination__buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container__pagination__buttons #btnPaginations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .button--black {
  padding: 10px  15px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 2px;
  cursor: pointer;
}

.container .button--black:hover {
  background-color: #111;
  color: #fff;
}

.container button {
  border: none;
}

.container button:disabled {
  background-color: #fff !important;
  color: #ccc !important;
  cursor: default;
}

.container .button-active {
  background-color: #f1f1f1;
  border: 1px solid #000;
}
/*# sourceMappingURL=style.css.map */