body{
    display: flex;
    align-items: center;
}
.container{
    height: fit-content;
    min-height: 100px;
    margin:50px auto;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    &__action{
        width: 100%;
        display: flex;
        flex-direction: row;
        &__limit-page{
            select{
                height: 30px;
                width: 50px;
                border-radius: 5px;
            }
        }
        &__search{
            margin-left: auto;
            input{
                width: 200px;
                height: 25px;
                border-radius: 5px;
                border: 1px solid #000;
                padding: 0 7px;
            }
        }
    }
    &__table{
        width: fit-content;
        min-width: 720px;
        margin: 20px 0;
        table{
            border-collapse: collapse;
            tr, .row-item{
                border: solid;
                border-width: 1.5px 0;
                border-color: #ccc;
                th{
                    padding: 7px;
                    text-align: left;
                    font-weight: normal;
                }
                th:nth-child(1), td:nth-child(1){
                    width: 150px;
                }
                th:nth-child(2), td:nth-child(2){
                    width: 250px;
                }
                th:nth-child(3), td:nth-child(3){
                    width: 120px
                }
                th:nth-child(4), td:nth-child(4){
                    width: 70px
                }
                th:nth-child(5), td:nth-child(5){
                    width: 100px
                }
                th:nth-child(6), td:nth-child(6){
                    width: 120px
                }
                td{
                    padding: 7px;
                }
            }
            .row-title{
                border: none;
                flex-direction: row;
                th{
                    font-weight: 600;
                    position: relative;
                    cursor: pointer;
                    div{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        i{
                            font-size: 10px;
                            color: #ccc;
                        }
                    }
                    
                }
                th:first-child{
                    background-color: #fff;

                }
            }

            
        }
    }
    &__pagination{
        display: flex;
        align-items: center;
        &__buttons{
            margin-left: auto;
            display: flex;
            flex-direction: row;
            #btnPaginations{
                display: flex;
            }
        }
    }
    .button--black{
        padding: 10px  15px;
        background-color: #fff;
        border-radius: 5px;
        margin: 0 2px;
        cursor: pointer;
    }
    .button--black:hover{
        background-color: #111;
        color: #fff;
    }
    button{
        border: none;
    }
    
    button:disabled{
        background-color: #fff !important;
        color: #ccc !important;
        cursor: default;
    }
    .button-active{
        background-color: #f1f1f1;
        border: 1px solid #000;
    }
}