@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

* {
    font-family: 'HK Grotesk', serif;
}

// ------------------------------------------------------- main -------------------------------------------------------- 
body {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden !important;
    z-index: 0 !important;
}

// -------------------------------------------------------- header --------------------------------------------------------
.header {
    height: fit-content;
    width: 100%;
    display: flex;

    &__content {
        width: 85% !important;
        max-width: 1250px;
        display: flex;
        flex-direction: row;
        position: relative;

        &__image {
            width: 86px;
        }

        &__navbar {
            width: fit-content;
            margin-left: auto;
            width: fit-content;
            display: flex !important;
            flex-direction: row;
            align-items: center;
            list-style: none;

            &__item {
                width: fit-content;
                padding: 1rem 1.5rem;
                color: #506690;
                font-weight: 600;
                position: relative;

                .dropdown {
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: row;
                    z-index: 1;

                    &__image {
                        background-image: linear-gradient(to right, rgba(51, 94, 234, 0.8), rgba(51, 94, 234, 0.8)), url('../images/navbar-image.jpg');
                        background-repeat: no-repeat;
                        background-size: 300px 350px;
                        width: 300px;
                        color: #335eea;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;

                        h4 {
                            margin: 0 auto;
                            color: #fff;
                            font-size: 1.2rem;
                        }

                        p {
                            color: #fff;
                            font-size: 0.95rem;
                        }

                        a {
                            background-color: #fff;
                            color: #335eea;
                            border: 1px solid transparent;
                            border-radius: .375rem;
                            font-size: 1rem;
                            padding: 0.8rem 1rem;
                            width: fit-content;
                            margin: 0 auto;
                        }

                    }

                    &__menu {
                        display: flex;
                        flex-direction: row;
                        gap: 50px;
                        padding: 0 40px 30px 40px;
                        background-color: #fff;

                        &__row {
                            gap: 50px;
                        }

                        .header {
                            width: 100px;
                            color: #335eea;
                            font-size: 0.8rem;
                            margin: 30px 0 0 0;
                            padding: 5px 0;
                            text-align: left;
                            font-weight: normal;
                        }

                        .item {
                            color: #506690 !important;
                            font-size: 0.9rem;
                            padding: 5px 0;
                            text-align: left;
                            font-weight: normal;
                            width: 100%;
                            display: flex;
                        }

                        .item:hover {
                            color: #335eea !important
                        }
                    }
                }

                .dropdown-menu {
                    visibility: hidden;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 10px 0;
                    width: fit-content !important;
                    min-width: 170px !important;
                    background-color: #fff;


                    .item {
                        color: #506690 !important;
                        font-size: 0.9rem;
                        padding: 5px 0;
                        text-align: left;
                        font-weight: normal;
                        width: 100%;
                        display: flex;

                        .icon-arrow {
                            width: 10px;
                            height: 10px;
                            float: right;
                            margin: auto;
                            margin-right: 30px;
                        }
                    }

                    &__row {
                        width: fit-content;
                        padding: 3px 0 3px 30px;
                        display: flex;
                        cursor: pointer;
                        width: 200px;
                        position: relative;

                        &__sub {
                            height: fit-content;
                            width: 170px !important;
                            visibility: hidden;
                            position: absolute;
                            top: 0;
                            left: 100%;
                            box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
                            display: flex;
                            flex-direction: column;
                            padding: 20px 0;
                            background-color: #ffffff;
                            list-style: none;
                            text-align: left;

                            li {
                                padding: 5px 0;
                                margin-left: 20px;

                                a {
                                    padding: 0;
                                    margin: 0;
                                    color: #506690 !important;
                                    font-size: 0.9rem;
                                    font-weight: normal;
                                }
                            }

                            li:hover {
                                a {
                                    color: #335eea !important;
                                }
                            }
                        }
                    }

                    &__row:hover {
                        .dropdown-menu__row__sub {
                            visibility: visible;
                        }

                        p {
                            color: #335eea !important;
                        }
                    }



                    .border-bottom {
                        width: 300px;
                        height: 60px;
                        padding: 0 20px;
                        margin-top: 15px !important;

                        .flex-row {
                            border-bottom: 1px solid #eee;
                            width: 100%;
                            align-items: center;

                            .title {
                                margin-left: 50px !important;
                            }

                        }

                        .item {
                            margin-left: 20px;
                            text-align: left;
                        }
                    }

                    .border-bottom:last-child {
                        .flex-row {
                            border-bottom: none;
                        }
                    }
                }
            }

            li:hover {
                div {
                    visibility: visible;
                }

                a {
                    color: #335eea;

                }

                .dropdown-menu {
                    visibility: visible;
                }
            }


            .button-navbar {
                height: fit-content;
                width: 400px;
                button {
                    width: 100px;
                    position: relative;
                    transition: transform 0.1s;
                }

                button:hover {
                    box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1) !important;
                    transform: translate3d(0, -3px, 0);
                }
            }
        }

    }
}


// -------------------------------------------------------- body --------------------------------------------------------
.section {
    height: fit-content;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3rem 7.5%;

    .container {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 1250px;

        .photo {
            width: 50%;
        }

    }

    .content {
        width: 100%;
        position: relative;
        transition: transform 0.1s;
        h1 {
            font-size: 2.7rem;
            text-align: left;

            span {
                font-size: 2.8rem;
                color: #335eea;
                padding: 0;
            }
        }

        p {
            width: 80%;
            font-size: 19px;
            color: #869ab8;
            text-align: left;
        }

        .button {
            margin-top: 3rem;
            text-align: left;
        }

        &__card:hover {
            box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1) !important;
            transform: translate3d(0, -3px, 0);
        }

        &__card {
            width: 400px;
            border-radius: 8px;
            box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
            margin-bottom: 50px;
            margin-top: 30px;

            &__image {
                width: 100%;
                border-radius: 8px 8px 0 0;
            }

            &__form {
                padding: 3rem 2rem 2rem 2rem;

                .form-floating {
                    position: relative;
                    padding: 10px 0;
                    // background-color: #335eea;
                    width: 100%;

                    .input {
                        width: 100%;
                        height: 35px;
                        border-top: none;
                        border-left: none;
                        border-right: none;
                        border-bottom: 1px solid #ccc;
                        margin: auto;
                        outline: none;
                        font-size: 15px;
                    }

                    .input:focus {
                        border-bottom: 1px solid #335eea;
                    }

                    .input:focus + .input-title{
                        transform: translateY(-22px);
                        font-size: 13px;

                    }
                    .input-title.move{
                        transform: translateY(-22px);
                        font-size: 13px;
                    }

                    .input-title {
                        color: #869ab8;
                        font-size: 1rem;
                        position: absolute;
                        top: 30%;
                        transition: all 0.3s ease-in;
                        transform: translateY(0);
                    }
                    span{
                        color: #ff5a5f;
                        font-size: 15px;
                        margin-top:  5px;
                    }

                    .button-download {
                        width: 100%;
                        padding: 15px 0;
                        font-size: 1rem;
                        font-weight: 600;
                        color: #fff;
                        background-color: #42ba96;
                        border: none;
                        border-radius: 5px;
                    }
                }
            }
        }

        &__paragraph {
            width: 500px;
            margin: auto;
            text-align: left;
            display: flex;

            &--right {
                width: 460px;
                margin: auto;

                p {
                    width: 100%;
                    font-size: 1.2rem;

                }
            }

            span {
                color: #42ba96;
                font-size: 2rem;
                padding: 0;
            }

            &__row {
                margin: 0;
                width: 100%;
                gap: 0;

                .flex-column {
                    width: 60%;
                }

                &__item {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    padding: 10px 0;

                    .icon {
                        padding: 3px 7px;
                        border-radius: 50%;
                        background-color: rgba(66, 186, 150, .1);
                        margin: auto 0;
                        text-align: center;

                        img {
                            height: 10px;
                        }
                    }

                    p {
                        color: #42ba96;
                        font-size: 1.2rem;
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            &__text {
                width: 100%;
                margin-left: 20px;

                h3 {
                    font-size: 19px;
                }

                p {
                    width: 100%;
                    padding: 0;
                    font-size: 1.05rem;
                }
            }

            .flex-row {
                margin: 20px 0;
            }

            .flex-column {
                width: 100px;
                margin-right: 30px;

                h1 {
                    font-size: 1.3rem;
                    text-align: left;
                    margin: 0;
                }

                p {
                    padding: 0;
                    margin: 0;
                    text-align: left;
                }

                .flex-row {
                    margin: 0;
                }
            }

            &__check-box {
                width: 40px;
                height: 22px;
                background-color: #d9e2ef;
                border-radius: 20px;
                margin: 0 10px;
                display: flex;

                div {
                    height: 16px;
                    width: 16px;
                    background-color: #fff;
                    border: none;
                    border-radius: 50%;
                    margin: auto 3px;
                    position: relative;
                    transition: ease 0.2s;
                    left: 0;
                }
            }
        }

        &__dashkit-image {
            perspective: 1500px;
            transform-style: preserve-3d;

            img {
                width: 650px;
                backface-visibility: hidden;
                transform: rotateY(-30deg) rotateX(15deg);
                border-radius: 10px;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
            }
        }

    }

    .item {
        width: 100%;
        text-align: left;

        p {
            width: 320px;
            text-align: left;
        }
    }

}

.section-features .container .content__paragraph--right {
    width: 100%;
    text-align: left;

    p {
        width: 320px;
        text-align: left;
    }
}
.section-about {
    .container{
        padding-left: 20px;
    }
}

.section-stats {
    margin-top: -5px;
    padding-top: 5rem !important;
    background-color: #f1f4f8 !important;

    .content img {
        width: 50%;
    }
}

.section-shape {
    .container--large {
        width: fit-content;
        position: relative;

        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
    }

    .container {
        width: fit-content;
        margin: auto;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: fit-content !important;

            &__hold-card {
                position: relative;
                transition: 0.1s;
            }

            .card {
                position: relative;
                justify-content: center;
                margin: auto;
                width: fit-content;
                position: relative;
                transition: width 0.2s;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);


                &__image-curve {
                    border-radius: 10px 0 0 10px;
                    width: 460px;
                    transition: 0.1s;
                    opacity: 1;
                    transition: all 1s;
                    z-index: 1;

                }

                &__image-curve:nth-child(1) {
                    position: absolute !important;
                    top: 0;
                    left: 0;
                }

                &__shape {
                    position: absolute;
                    height: 870px;
                    margin: auto;
                    color: #fff;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                }

                &__text {
                    width: 460px;
                    background-color: #fff;
                    border-radius: 0 10px 10px;
                    position: relative;

                    .relative {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: ease 0.5s;
                        left: -100%;
                        margin: auto;
                        z-index: -10;
                    }

                    .relative:nth-child(2) {
                        left: 0;
                        z-index: 4;
                    }

                    .relative:nth-child(3) {
                        left: 100%;
                        z-index: -10;
                    }

                    .relative:nth-child(4) {
                        left: 200%;
                        z-index: -10;
                    }

                    span {
                        font-size: 0.8rem;
                        color: #869ab8;
                    }

                    p {
                        width: auto;
                        color: #161c2d;
                        line-height: 1.5;
                        text-align: center;
                        margin: 20px;
                        padding: 0 10px;
                    }
                }

            }

            .flex-row button img {
                width: 12px;
            }
        }
    }

    .flickity-button-previous {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        background-color: #335eea;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 6;

        img {
            width: 12px;
        }

    }

    .flickity-button-next {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: none;
        background-color: #335eea;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        cursor: pointer;
        z-index: 6;

        img {
            width: 12px;
        }
    }

    .paragraph {
        width: 650px !important;
        text-align: center;
        margin-bottom: 40px;
        z-index: 2;

        p {
            width: 100%;
        }
    }
}


.section-pricing {
    background-color: #f1f4f8;

    .content {
        width: 100%;

        &__paragraph {
            width: 100% !important;

            p {
                width: 70%;
                text-align: center;
            }
        }

        .card {
            width: 80%;
            box-shadow: none;
            margin: auto;
            margin-top: 3rem;

            .card-left {
                width: 50%;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
                background-color: #fff;
                border-radius: 10px;
                z-index: 1;
                position: relative;

                &__content {
                    width: 100%;
                    padding: 3rem 0;



                    p {
                        width: 100%;
                    }

                    .flex-row {
                        margin: o;
                        margin-top: 20px;

                        span {
                            color: #000;
                            padding: 0;
                            margin: 0;
                            width: fit-content;
                        }

                        span:nth-child(1) {
                            font-size: 1.8rem;
                            margin-top: 10px;
                        }

                        span:nth-child(2) {
                            font-size: 3.8rem;
                        }

                        span:nth-child(3) {
                            font-size: 2rem;
                            margin-top: 30px;
                        }
                    }

                    &__item {
                        width: 300px !important;
                        display: flex;
                        flex-direction: row;
                        gap: 20px;

                        .icon {
                            height: 23px;
                            width: 23px;
                            border-radius: 50%;
                            background-color: rgba(66, 186, 150, .1);
                            position: relative;
                            margin: auto 0;
                            text-align: center;

                            img {
                                height: 10px;
                            }
                        }

                        p {
                            padding: 10px 0;
                            margin: 0 !important;
                            color: #161c2d !important;
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            .card-right {
                width: 50%;
                height: fit-content;
                background-color: #fff;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;

                &__content {
                    padding: 3rem 0;
                    width: 100%;
                    height: fit-content;

                    p {
                        width: 90%;
                        padding: 7rem 0;
                        font-size: 1.3rem;
                        line-height: 1.5;
                        text-align: center;
                        margin: auto;
                    }
                }

                a {
                    width: 93.2%;
                    font-size: 1.1rem;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    color: #506690;
                    font-weight: 600;
                }
            }

            .button {
                width: 100% !important;
                font-size: 1.1rem;
                font-weight: 600;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                margin: 0;
                text-align: center;
            }
        }

    }
}


.section-faq,
.section-cta {
    background-color: #1b2a4e !important;

    .container .content__paragraph {
        width: 100% !important;
    }

    .circle {
        background-color: #42ba96 !important;
        height: fit-content;
        height: 30px;
        width: 35px !important;
        border-radius: 50px;
        text-align: center;
        align-items: center;
        border: none;
    }

    .flex-column,
    .flex-row {
        gap: 20px;

        .flex-row {
            gap: 5px;
        }
    }

    h2,
    h3,
    lable {
        color: #fff;
    }

    .title {
        color: #506690;
    }
}

.section-cta {
    position: relative;
}

footer {
    background-color: #f1f4f8;
    padding: 4rem 0;

    .container {
        width: 100%;

        .content {
            width: fit-content;
            margin: 0 auto;

            &__left {
                width: 250px;
                ;

                &__icon {
                    margin: 0;
                    gap: 10px
                }

                .logo {
                    width: 100px;
                }
            }

            &__right {
                &__item {
                    margin: 0 5%;

                    .flex-column {
                        gap: 20px;
                    }

                    h6 {
                        color: #506690;
                    }

                    a {
                        color: #89a0bf;
                    }

                    a:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.title {
    color: #335eea;
    font-size: 0.75rem;
    background-color: rgba(51, 94, 234, .1);
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 2rem;
    width: fit-content;
}

.shape {
    background-color: #1b2a4e;

    &__image {
        width: 200%;
        transform: translateX(-25%);

        img {
            transform: translateY(10px);
        }
    }
}

.half-shape {
    width: 135%;
    margin-top: -20rem !important;
    z-index: -10 !important;

    svg {
        color: #f1f4f8;
    }
}

.container {
    overflow-x: hidden;
    overflow-y: hidden;
}



@media screen and (max-width: 1200px) {
    .header {
        .button-navbar {
            width: 200px;
        }
    }

    .section {
        .container {
            .content {

                &__card {
                    width: 360px !important;
                }

                &__paragraph {
                    width: 100%;

                    h2,
                    span {
                        font-size: 26px;
                    }

                    p {
                        width: 100%;
                    }
                }

                &__dashkit-image {
                    img {
                        width: 430px;
                    }
                }
            }
        }
    }


    .section-features .container .content,
    .section-testimonials .container .content {
        &__paragraph {
            width: fit-content !important;
            margin: 0;

            p {
                width: 100% !important;
                max-width: 280px !important;
                font-size: 17px;
            }
        }
    }

    .section-stats {
        padding-top: 10rem !important;
    }

    .section-pricing {
        .card {
            width: 90% !important;
        }
    }
}

@media screen and (max-width: 960px) {
    #body.show {
        width: 100vw;
        height: 100vh !important;

        .section,
        .container,
        footer {
            display: none !important;
        }

        .header {
            display: block !important;
            margin-top: 2.5vh !important;
            overflow-x: hidden !important;

            &__content {
                height: 100%;
                width: 100% !important;
                margin: 0 !important;
                position: relative;

                &__navbar {
                    width: 100%;
                    height: 100%;
                    display: block !important;
                    padding: 0;
                    position: static;

                    &__item {
                        width: fit-content;
                        padding: 40px;
                        margin: 0;
                        width: 90% !important;
                        text-align: left;
                        background-color: #fff !important;
                        border-bottom: 1px solid #eee;

                        .dropdown {
                            visibility: visible;
                            position: relative;
                            box-shadow: none;

                            &__menu {
                                width: 100% !important;
                                padding: 0;

                                div {
                                    width: 50%;
                                }

                                &__row {
                                    flex-direction: column;
                                    gap: 10px;
                                }

                                .header {
                                    margin-top: 10px;
                                }
                            }

                            &__image {
                                display: none;
                            }
                        }

                        .dropdown-menu {
                            visibility: visible;
                            position: relative;
                            box-shadow: none;
                            width: 100% !important;

                            &__row {
                                width: 100%;
                                height: fit-content;
                                padding-left: 0;
                                display: flex;
                                flex-direction: column;

                                &__sub {
                                    width: 100% !important;
                                    position: relative;
                                    box-shadow: none;
                                    display: none;
                                    height: fit-content;
                                    left: 0;
                                    visibility: visible !important;
                                }
                            }
                        }
                    }

                    .header__content__navbar__item:last-child {
                        padding-bottom: 0;
                    }

                    .header__content__navbar__item:first-child {
                        padding-top: 0;
                    }

                }

                .button-navbar {
                    width: 100%;

                    button {
                        margin: 0 !important;
                        width: 100%;
                    }
                }

                &__icon-open,
                &__image {
                    display: none !important;
                }

                &__icon-close {
                    display: block;
                    position: absolute;
                    right: 5%;
                    top: 1%;

                    img {
                        width: 12px;
                    }
                }
            }
        }

    }

    .header__content {
        margin-top: 30px;

        &__navbar {
            display: none !important;
        }


        &__icon-open {
            display: block !important;
            position: absolute;
            right: 0;

            img {
                width: 25px;
            }
        }
    }

    .section {
        .container {
            margin-top: 50px;

            .content {
                margin: auto;

                h1,
                span {
                    width: 380px;
                }

                p {
                    font-size: 19px;
                    width: 100%;
                }

                &__icon {
                    width: 80px;
                    margin: auto;
                }

                &__card {
                    width: 320px !important;
                }

                .content__paragraph {
                    &--right {
                        width: 320px;

                        h2,
                        span {
                            font-size: 24px;
                        }

                        p {
                            font-size: 17px;
                            margin: 0;
                            width: 100%;
                        }
                    }

                    &__row {
                        margin-top: 20px;
                        flex-direction: column;

                        .flex-column {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .section-welcome {
        .container {
            .content {

                span,
                h1 {
                    font-size: 36px;
                }
            }
        }
    }

    .section-shape {
        .container {
            margin-top: 0;

            .content {
                &__paragraph {
                    flex-direction: column;
                    width: 560px !important;

                    h2,
                    span {
                        font-size: 26px;
                    }

                    p {
                        width: 100%;
                    }
                }

                .card {

                    position: relative;

                    &__image-curve {
                        width: 340px;
                        height: 435px;
                    }

                    &__text {
                        width: 340px;

                        span {
                            font-weight: 600;
                            font-size: 12px !important;
                        }

                        p {
                            padding-bottom: 20px;
                            font-size: 20px;
                            margin: 0;
                            width: 90%;
                        }

                        &__icon {
                            width: 130px;
                        }
                    }
                }
            }
        }
    }

    .section-testimonials {
        .container {
            .content {
                p {
                    width: 380px !important;
                }
            }

        }

    }

    .section-pricing {

        .card,
        .card-left,
        .card-right {
            width: 100% !important;
        }
    }

    .section-faq {

        h3,
        p {
            font-size: 17px !important;
        }
    }

    .span--red{
        font-size: 12px !important;
    }

}


@media only screen and (max-width: 850px) {
    .header__content {
        max-width: 900px;
        min-width: 370px;
        width: 110vw;
        margin-top: 20px;
        height: fit-content;


        &__icon {
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-25%);

            img {
                width: 25px;
            }
        }
    }

    .section {
        .container {
            width: 700px;
            flex-direction: column-reverse;
            align-items: center;

            .content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center !important;

                h1,
                span {
                    font-size: 36px;
                    text-align: center;
                    width: 100%;
                }

                p {
                    font-size: 19px;
                    text-align: center;
                    width: 500px;
                }

                .button {
                    img {
                        display: none;
                    }
                }

                &__paragraph,
                &__paragraph--right {
                    flex-direction: column;
                    width: 100% !important;

                    h2,
                    span {
                        font-size: 26px;
                    }

                    h1 {
                        text-align: left;
                        font-size: 19px;
                    }

                    p {
                        width: 100% !important;
                        text-align: left;
                        max-width: none !important;
                    }
                }

                .card {
                    flex-direction: column;
                    max-width: 100%;
                    border: none;
                    position: static;

                    &__image-curve {
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        width: 100%;
                        align-items: center;
                    }

                    &__shape {
                        display: none !important;
                    }

                    &__text {
                        margin: 20px 0;
                        width: 100% !important;
                        height: fit-content;

                        .relative {
                            position: relative;
                        }

                        p {
                            width: 100%;
                            padding: 0;
                            margin: 0;
                            padding-bottom: 20px;

                        }

                        span {
                            font-size: 12px !important;
                        }

                        &__icon {
                            width: 130px;
                        }
                    }
                }
            }

            .photo {
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }

    .section-brands {
        .container {
            .content {
                margin: 0;
                display: grid;
                grid-template-columns: 30.3% 30.3% auto;
                margin: auto;

                &__icon {
                    width: 140px;
                    padding: 8px 0;
                }
            }
        }
    }

    .section-about {
        .container {
            .content {
                flex-direction: column-reverse;

                &__icon {
                    width: 140px;
                    padding: 8px 0;
                }

                &__card {
                    width: 500px !important;
                }

                .content__paragraph {
                    &--right {
                        width: 500px;

                        h2,
                        span {
                            font-size: 24px;
                        }

                        p {
                            text-align: left;
                            font-size: 19px;
                        }
                    }

                    &__row {
                        margin: 10px 0;
                        flex-direction: column;

                        .flex-column {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .section-testimonials .container .content,
    .section-faq .container .content {
        p {
            text-align: left;
        }

        &__dashkit-image {
            img {
                width: 100%;
            }
        }
    }

    .section-shape {
        .paragraph {
            width: 500px !important;

            h2,
            span {
                font-size: 26px;
            }

            h1 {
                text-align: left;
                font-size: 19px;
            }

            p {
                width: 100% !important;
                text-align: left;
                max-width: none !important;
            }
        }

        .container {
            width: fit-content;

            .content {
                width: 85%;

                .card__text {
                    width: 460px;
                    height: 300px;
                    background-color: #fff !important;
                    background-color: transparent;
                    border-radius: 0 10px 10px;
                    position: relative;

                    .relative {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: ease 0.5s;
                        left: -100%;
                        margin: auto;
                        z-index: -10;
                    }

                    .relative:nth-child(2) {
                        left: 0;
                        z-index: 4;
                    }

                    .relative:nth-child(3) {
                        left: 100%;
                        z-index: -10;
                    }

                    .relative:nth-child(4) {
                        left: 200%;
                        z-index: -10;
                    }

                    span {
                        font-size: 0.8rem;
                        color: #869ab8;
                    }

                    p {
                        width: auto;
                        color: #161c2d;
                        line-height: 1.5;
                        text-align: center;
                        margin: 20px;
                        padding: 0 10px;
                    }
                }
            }
        }

        button {
            top: 75% !important;
        }
    }


    .section-stats .container .content {
        flex-direction: column-reverse;

        &__paragraph {
            margin-top: 30px;

            h2,
            span {
                font-size: 24px;
            }

            p {
                text-align: left;
            }
        }

        img {
            width: 500px;
        }
    }


    .section-pricing {
        .card {
            width: fit-content !important;
            align-items: center;
            flex-direction: column;

            .card-left {
                width: 500px !important;
                margin-bottom: 20px;

                &__content {
                    &__item {
                        width: fit-content !important;
                        align-items: center;

                        p {
                            text-align: left;
                            font-size: 16px !important;
                        }
                    }
                }
            }

            .card-right {
                width: 500px !important;

                &__content {
                    p {
                        padding: 0 !important;
                        padding-top: 1rem !important;
                    }
                }
            }
        }
    }

    footer .container .content__right {
        flex-direction: column;
        gap: 50px;
    }
    .span--red{
        font-size: 15px !important;
        text-align: left !important;
    }
}


@media only screen and (max-width: 575px) {
    .section {
        width: 100%;
        padding: 30px 0 !important;

        .container {
            width: 100%;
            padding: 0 1rem !important;

            .content {
                width: 100%;
                padding: 0;

                p {
                    width: 100%;
                    padding: 0;
                }

                .item {
                    p {
                        font-size: 16px;
                    }
                }

                &__card,
                &__paragraph--right {
                    width: 100% !important;

                    &__image {
                        width: 100%;
                    }
                }

                .card-left {
                    width: 100% !important;

                    span {
                        color: #000;
                        padding: 0;
                        margin: 0;
                        width: fit-content;
                    }

                    span:nth-child(1) {
                        font-size: 24px !important;
                    }

                    span:nth-child(2) {
                        font-size: 40px !important;
                    }

                    span:nth-child(3) {
                        font-size: 24px !important;
                        margin-top: 15px !important;
                    }
                }

                .card-right {
                    width: 100% !important;
                }

                &__paragraph {
                    width: 100% !important;

                    p {
                        margin-top: 10px;
                    }

                    &__text,
                    &__row {

                        h3,
                        p {
                            font-size: 17px;
                        }
                    }
                }

                &__dashkit-image {
                    img {
                        width: 100%;
                    }
                }

            }
        }

        .photo {
            width: 100%;
        }
    }

    .section-shape {
        .container--large {
            margin: 0 25px;
            width: fit-content;
            background-color: #fff;
        }

        .paragraph {
            width: 90% !important;
        }

        .container {
            width: fit-content;

            .content {
                width: 85%;

                .card__image-curve {
                    height: fit-content;
                }
            }
        }
    }

    .section-brands .container .content {
        display: grid;
        grid-template-columns: 50% 50%;

        &__icon {
            width: 130px;
            margin: auto;
        }
    }

    .section-stats {
        padding-top: 12rem !important;

        .container {
            .content {
                align-items: center;

                &__paragraph {

                    h2,
                    span {
                        font-size: 24px;
                    }

                    h1 {
                        text-align: left;
                        font-size: 19px;
                    }

                    p {
                        width: 100% !important;
                        text-align: left;
                        font-size: 19px;
                        padding: 10px 0;
                    }

                    .flex-row {
                        align-items: center;
                    }

                    .flex-column {
                        margin-right: 10px;

                        p {
                            font-size: 17px;
                        }
                    }
                }

                img {
                    width: 320px !important;
                }
            }
        }
    }

    footer .container .content {
        flex-direction: column;
        gap: 50px;

        &__left {
            padding-left: 20px;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    color: #161c2d;
}

p {
    line-height: 1.5;
    font-size: 19px;
    color: #869ab8;
    margin: 0;
    padding: 10px 0;
}

.p--blue {
    color: #335eea;
    font-size: 0.9rem;
    padding: 0;
    font-weight: normal;
}

.p--gray {
    color: #506690;
    font-size: 0.9rem;
    padding: 0;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    color: #161c2d;
}

a {
    text-decoration: none;
    color: #506690;
    font-size: 1.1rem;
}

label {
    font-size: 1rem;
    color: #869ab8;
}

.span {
    font-size: 2rem;

    &--blue {
        color: #335eea !important;
        padding: 0 !important;

    }

    &--green {
        color: #42ba96 !important;
        padding: 0 !important;
    }
}

.icon {
    &--small {
        width: 35px !important;
    }

    &--medium {
        width: 50px !important;
    }

    &--large {
        width: 30%;
        padding: 0 20px;
    }

    &--gray {
        color: #869ab8;
    }

    &--red {
        color: #ff5a5f;
    }

    &--dark-blue {
        color: #3f5d87;
    }
}

.button {
    button {
        position: relative;
        transition: transform 0.1s;
    }

    button:hover {
        box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, .1), 0 .5rem 1rem -.75rem rgba(22, 28, 45, .1) !important;
        transform: translate3d(0, -3px, 0);
    }
}

.lift {
    transition: box-shadow .25s ease, transform .25s ease;
}

.lift:hover {
    background-color: #389e80;
}

.button--blue {
    background-color: #335eea;
    border-color: #335eea;
    border: 1px solid transparent;
    color: #fff;
    border-radius: .375rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    margin: 0 5px;
    text-align: center;
    font-weight: 600;

    img {
        height: 15px;
        margin-left: 15px;
        position: relative;
        top: 50%;
        transform: translateY(20%);
    }
}

.button--green {
    background-color: #42ba96;
    border-color: #42ba96;
    border: 1px solid transparent;
    color: #fff;
    border-radius: .375rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    margin: 0 5px;
    text-align: center;
    font-weight: 600;

    img {
        height: 15px;
        margin-left: 15px;
        position: relative;
        top: 50%;
        transform: translateY(20%);
    }
}


.button--gray {
    background-color: rgba(51, 94, 234, .15);
    border: 1px solid transparent;
    color: #335eea;
    border-radius: .375rem;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    height: fit-content;
    margin: 0 5px;
    text-align: center;
}

.button--blue img {
    height: 13px;
    margin-left: 15px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.gap-100 {
    gap: 0 100px
}

.not-show {
    display: none;
}

.color {
    background-color: #335eea;
}

.border-top-bottom {
    border-bottom: 0.5px solid #ccc;
    border-top: 0.5px solid #ccc !important;
}

.center {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin: auto !important;
}

.max-width {
    width: fit-content !important;
}

.relative {
    position: relative;
}

.fz-12 {
    font-size: 12px !important;
}

.fz-15 {
    font-size: 15px !important;
}

.fz-17 {
    font-size: 17px !important;
}

.fz-19 {
    font-size: 19px !important;
}

.fz-22 {
    font-size: 22px !important;
}

.fz-31 {
    font-size: 22px !important;
}

.fz-37 {
    font-size: 22px !important;
}

.fz-44 {
    font-size: 22px !important;
}

.fz-50 {
    font-size: 22px !important;
}

