@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");
* {
  font-family: 'HK Grotesk', serif;
}

body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow-x: hidden !important;
  z-index: 0 !important;
}

.header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content {
  width: 85% !important;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.header__content__image {
  width: 86px;
}

.header__content__navbar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  width: fit-content;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__content__navbar__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 1.5rem;
  color: #506690;
  font-weight: 600;
  position: relative;
}

.header__content__navbar__item .dropdown {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
}

.header__content__navbar__item .dropdown__image {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(51, 94, 234, 0.8)), to(rgba(51, 94, 234, 0.8))), url("../images/navbar-image.jpg");
  background-image: linear-gradient(to right, rgba(51, 94, 234, 0.8), rgba(51, 94, 234, 0.8)), url("../images/navbar-image.jpg");
  background-repeat: no-repeat;
  background-size: 300px 350px;
  width: 300px;
  color: #335eea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.header__content__navbar__item .dropdown__image h4 {
  margin: 0 auto;
  color: #fff;
  font-size: 1.2rem;
}

.header__content__navbar__item .dropdown__image p {
  color: #fff;
  font-size: 0.95rem;
}

.header__content__navbar__item .dropdown__image a {
  background-color: #fff;
  color: #335eea;
  border: 1px solid transparent;
  border-radius: .375rem;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.header__content__navbar__item .dropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
  padding: 0 40px 30px 40px;
  background-color: #fff;
}

.header__content__navbar__item .dropdown__menu__row {
  gap: 50px;
}

.header__content__navbar__item .dropdown__menu .header {
  width: 100px;
  color: #335eea;
  font-size: 0.8rem;
  margin: 30px 0 0 0;
  padding: 5px 0;
  text-align: left;
  font-weight: normal;
}

.header__content__navbar__item .dropdown__menu .item {
  color: #506690 !important;
  font-size: 0.9rem;
  padding: 5px 0;
  text-align: left;
  font-weight: normal;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content__navbar__item .dropdown__menu .item:hover {
  color: #335eea !important;
}

.header__content__navbar__item .dropdown-menu {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 10px 0;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  min-width: 170px !important;
  background-color: #fff;
}

.header__content__navbar__item .dropdown-menu .item {
  color: #506690 !important;
  font-size: 0.9rem;
  padding: 5px 0;
  text-align: left;
  font-weight: normal;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content__navbar__item .dropdown-menu .item .icon-arrow {
  width: 10px;
  height: 10px;
  float: right;
  margin: auto;
  margin-right: 30px;
}

.header__content__navbar__item .dropdown-menu__row {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 0 3px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 200px;
  position: relative;
}

.header__content__navbar__item .dropdown-menu__row__sub {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 170px !important;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  background-color: #ffffff;
  list-style: none;
  text-align: left;
}

.header__content__navbar__item .dropdown-menu__row__sub li {
  padding: 5px 0;
  margin-left: 20px;
}

.header__content__navbar__item .dropdown-menu__row__sub li a {
  padding: 0;
  margin: 0;
  color: #506690 !important;
  font-size: 0.9rem;
  font-weight: normal;
}

.header__content__navbar__item .dropdown-menu__row__sub li:hover a {
  color: #335eea !important;
}

.header__content__navbar__item .dropdown-menu__row:hover .dropdown-menu__row__sub {
  visibility: visible;
}

.header__content__navbar__item .dropdown-menu__row:hover p {
  color: #335eea !important;
}

.header__content__navbar__item .dropdown-menu .border-bottom {
  width: 300px;
  height: 60px;
  padding: 0 20px;
  margin-top: 15px !important;
}

.header__content__navbar__item .dropdown-menu .border-bottom .flex-row {
  border-bottom: 1px solid #eee;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content__navbar__item .dropdown-menu .border-bottom .flex-row .title {
  margin-left: 50px !important;
}

.header__content__navbar__item .dropdown-menu .border-bottom .item {
  margin-left: 20px;
  text-align: left;
}

.header__content__navbar__item .dropdown-menu .border-bottom:last-child .flex-row {
  border-bottom: none;
}

.header__content__navbar li:hover div {
  visibility: visible;
}

.header__content__navbar li:hover a {
  color: #335eea;
}

.header__content__navbar li:hover .dropdown-menu {
  visibility: visible;
}

.header__content__navbar .button-navbar {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 400px;
}

.header__content__navbar .button-navbar button {
  width: 100px;
  position: relative;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.header__content__navbar .button-navbar button:hover {
  -webkit-box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

.section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 3rem 7.5%;
}

.section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  width: 1250px;
}

.section .container .photo {
  width: 50%;
}

.section .content {
  width: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.section .content h1 {
  font-size: 2.7rem;
  text-align: left;
}

.section .content h1 span {
  font-size: 2.8rem;
  color: #335eea;
  padding: 0;
}

.section .content p {
  width: 80%;
  font-size: 19px;
  color: #869ab8;
  text-align: left;
}

.section .content .button {
  margin-top: 3rem;
  text-align: left;
}

.section .content__card:hover {
  -webkit-box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

.section .content__card {
  width: 400px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-top: 30px;
}

.section .content__card__image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.section .content__card__form {
  padding: 3rem 2rem 2rem 2rem;
}

.section .content__card__form .form-floating {
  position: relative;
  padding: 10px 0;
  width: 100%;
}

.section .content__card__form .form-floating .input {
  width: 100%;
  height: 35px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  margin: auto;
  outline: none;
  font-size: 15px;
}

.section .content__card__form .form-floating .input:focus {
  border-bottom: 1px solid #335eea;
}

.section .content__card__form .form-floating .input:focus + .input-title {
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
  font-size: 13px;
}

.section .content__card__form .form-floating .input-title.move {
  -webkit-transform: translateY(-22px);
          transform: translateY(-22px);
  font-size: 13px;
}

.section .content__card__form .form-floating .input-title {
  color: #869ab8;
  font-size: 1rem;
  position: absolute;
  top: 30%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section .content__card__form .form-floating span {
  color: #ff5a5f;
  font-size: 15px;
  margin-top: 5px;
}

.section .content__card__form .form-floating .button-download {
  width: 100%;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #42ba96;
  border: none;
  border-radius: 5px;
}

.section .content__paragraph {
  width: 500px;
  margin: auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .content__paragraph--right {
  width: 460px;
  margin: auto;
}

.section .content__paragraph--right p {
  width: 100%;
  font-size: 1.2rem;
}

.section .content__paragraph span {
  color: #42ba96;
  font-size: 2rem;
  padding: 0;
}

.section .content__paragraph__row {
  margin: 0;
  width: 100%;
  gap: 0;
}

.section .content__paragraph__row .flex-column {
  width: 60%;
}

.section .content__paragraph__row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  padding: 10px 0;
}

.section .content__paragraph__row__item .icon {
  padding: 3px 7px;
  border-radius: 50%;
  background-color: rgba(66, 186, 150, 0.1);
  margin: auto 0;
  text-align: center;
}

.section .content__paragraph__row__item .icon img {
  height: 10px;
}

.section .content__paragraph__row__item p {
  color: #42ba96;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.section .content__paragraph__text {
  width: 100%;
  margin-left: 20px;
}

.section .content__paragraph__text h3 {
  font-size: 19px;
}

.section .content__paragraph__text p {
  width: 100%;
  padding: 0;
  font-size: 1.05rem;
}

.section .content__paragraph .flex-row {
  margin: 20px 0;
}

.section .content__paragraph .flex-column {
  width: 100px;
  margin-right: 30px;
}

.section .content__paragraph .flex-column h1 {
  font-size: 1.3rem;
  text-align: left;
  margin: 0;
}

.section .content__paragraph .flex-column p {
  padding: 0;
  margin: 0;
  text-align: left;
}

.section .content__paragraph .flex-column .flex-row {
  margin: 0;
}

.section .content__paragraph__check-box {
  width: 40px;
  height: 22px;
  background-color: #d9e2ef;
  border-radius: 20px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .content__paragraph__check-box div {
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  margin: auto 3px;
  position: relative;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  left: 0;
}

.section .content__dashkit-image {
  -webkit-perspective: 1500px;
          perspective: 1500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.section .content__dashkit-image img {
  width: 650px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(-30deg) rotateX(15deg);
          transform: rotateY(-30deg) rotateX(15deg);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.section .item {
  width: 100%;
  text-align: left;
}

.section .item p {
  width: 320px;
  text-align: left;
}

.section-features .container .content__paragraph--right {
  width: 100%;
  text-align: left;
}

.section-features .container .content__paragraph--right p {
  width: 320px;
  text-align: left;
}

.section-about .container {
  padding-left: 20px;
}

.section-stats {
  margin-top: -5px;
  padding-top: 5rem !important;
  background-color: #f1f4f8 !important;
}

.section-stats .content img {
  width: 50%;
}

.section-shape .container--large {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
}

.section-shape .container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.section-shape .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.section-shape .container .content__hold-card {
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.section-shape .container .content .card {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

.section-shape .container .content .card__image-curve {
  border-radius: 10px 0 0 10px;
  width: 460px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 1;
}

.section-shape .container .content .card__image-curve:nth-child(1) {
  position: absolute !important;
  top: 0;
  left: 0;
}

.section-shape .container .content .card__shape {
  position: absolute;
  height: 870px;
  margin: auto;
  color: #fff;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.section-shape .container .content .card__text {
  width: 460px;
  background-color: #fff;
  border-radius: 0 10px 10px;
  position: relative;
}

.section-shape .container .content .card__text .relative {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  left: -100%;
  margin: auto;
  z-index: -10;
}

.section-shape .container .content .card__text .relative:nth-child(2) {
  left: 0;
  z-index: 4;
}

.section-shape .container .content .card__text .relative:nth-child(3) {
  left: 100%;
  z-index: -10;
}

.section-shape .container .content .card__text .relative:nth-child(4) {
  left: 200%;
  z-index: -10;
}

.section-shape .container .content .card__text span {
  font-size: 0.8rem;
  color: #869ab8;
}

.section-shape .container .content .card__text p {
  width: auto;
  color: #161c2d;
  line-height: 1.5;
  text-align: center;
  margin: 20px;
  padding: 0 10px;
}

.section-shape .container .content .flex-row button img {
  width: 12px;
}

.section-shape .flickity-button-previous {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: #335eea;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 6;
}

.section-shape .flickity-button-previous img {
  width: 12px;
}

.section-shape .flickity-button-next {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: #335eea;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  cursor: pointer;
  z-index: 6;
}

.section-shape .flickity-button-next img {
  width: 12px;
}

.section-shape .paragraph {
  width: 650px !important;
  text-align: center;
  margin-bottom: 40px;
  z-index: 2;
}

.section-shape .paragraph p {
  width: 100%;
}

.section-pricing {
  background-color: #f1f4f8;
}

.section-pricing .content {
  width: 100%;
}

.section-pricing .content__paragraph {
  width: 100% !important;
}

.section-pricing .content__paragraph p {
  width: 70%;
  text-align: center;
}

.section-pricing .content .card {
  width: 80%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: auto;
  margin-top: 3rem;
}

.section-pricing .content .card .card-left {
  width: 50%;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}

.section-pricing .content .card .card-left__content {
  width: 100%;
  padding: 3rem 0;
}

.section-pricing .content .card .card-left__content p {
  width: 100%;
}

.section-pricing .content .card .card-left__content .flex-row {
  margin: o;
  margin-top: 20px;
}

.section-pricing .content .card .card-left__content .flex-row span {
  color: #000;
  padding: 0;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section-pricing .content .card .card-left__content .flex-row span:nth-child(1) {
  font-size: 1.8rem;
  margin-top: 10px;
}

.section-pricing .content .card .card-left__content .flex-row span:nth-child(2) {
  font-size: 3.8rem;
}

.section-pricing .content .card .card-left__content .flex-row span:nth-child(3) {
  font-size: 2rem;
  margin-top: 30px;
}

.section-pricing .content .card .card-left__content__item {
  width: 300px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.section-pricing .content .card .card-left__content__item .icon {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: rgba(66, 186, 150, 0.1);
  position: relative;
  margin: auto 0;
  text-align: center;
}

.section-pricing .content .card .card-left__content__item .icon img {
  height: 10px;
}

.section-pricing .content .card .card-left__content__item p {
  padding: 10px 0;
  margin: 0 !important;
  color: #161c2d !important;
  font-size: 1.1rem;
}

.section-pricing .content .card .card-right {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.section-pricing .content .card .card-right__content {
  padding: 3rem 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.section-pricing .content .card .card-right__content p {
  width: 90%;
  padding: 7rem 0;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
  margin: auto;
}

.section-pricing .content .card .card-right a {
  width: 93.2%;
  font-size: 1.1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #506690;
  font-weight: 600;
}

.section-pricing .content .card .button {
  width: 100% !important;
  font-size: 1.1rem;
  font-weight: 600;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
  text-align: center;
}

.section-faq,
.section-cta {
  background-color: #1b2a4e !important;
}

.section-faq .container .content__paragraph,
.section-cta .container .content__paragraph {
  width: 100% !important;
}

.section-faq .circle,
.section-cta .circle {
  background-color: #42ba96 !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 30px;
  width: 35px !important;
  border-radius: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.section-faq .flex-column,
.section-faq .flex-row,
.section-cta .flex-column,
.section-cta .flex-row {
  gap: 20px;
}

.section-faq .flex-column .flex-row,
.section-faq .flex-row .flex-row,
.section-cta .flex-column .flex-row,
.section-cta .flex-row .flex-row {
  gap: 5px;
}

.section-faq h2,
.section-faq h3,
.section-faq lable,
.section-cta h2,
.section-cta h3,
.section-cta lable {
  color: #fff;
}

.section-faq .title,
.section-cta .title {
  color: #506690;
}

.section-cta {
  position: relative;
}

footer {
  background-color: #f1f4f8;
  padding: 4rem 0;
}

footer .container {
  width: 100%;
}

footer .container .content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

footer .container .content__left {
  width: 250px;
}

footer .container .content__left__icon {
  margin: 0;
  gap: 10px;
}

footer .container .content__left .logo {
  width: 100px;
}

footer .container .content__right__item {
  margin: 0 5%;
}

footer .container .content__right__item .flex-column {
  gap: 20px;
}

footer .container .content__right__item h6 {
  color: #506690;
}

footer .container .content__right__item a {
  color: #89a0bf;
}

footer .container .content__right__item a:hover {
  text-decoration: underline;
}

.title {
  color: #335eea;
  font-size: 0.75rem;
  background-color: rgba(51, 94, 234, 0.1);
  border-radius: 20px;
  padding: 5px 10px;
  margin-bottom: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.shape {
  background-color: #1b2a4e;
}

.shape__image {
  width: 200%;
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

.shape__image img {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.half-shape {
  width: 135%;
  margin-top: -20rem !important;
  z-index: -10 !important;
}

.half-shape svg {
  color: #f1f4f8;
}

.container {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 1200px) {
  .header .button-navbar {
    width: 200px;
  }
  .section .container .content__card {
    width: 360px !important;
  }
  .section .container .content__paragraph {
    width: 100%;
  }
  .section .container .content__paragraph h2,
  .section .container .content__paragraph span {
    font-size: 26px;
  }
  .section .container .content__paragraph p {
    width: 100%;
  }
  .section .container .content__dashkit-image img {
    width: 430px;
  }
  .section-features .container .content__paragraph,
  .section-testimonials .container .content__paragraph {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin: 0;
  }
  .section-features .container .content__paragraph p,
  .section-testimonials .container .content__paragraph p {
    width: 100% !important;
    max-width: 280px !important;
    font-size: 17px;
  }
  .section-stats {
    padding-top: 10rem !important;
  }
  .section-pricing .card {
    width: 90% !important;
  }
}

@media screen and (max-width: 960px) {
  #body.show {
    width: 100vw;
    height: 100vh !important;
  }
  #body.show .section,
  #body.show .container,
  #body.show footer {
    display: none !important;
  }
  #body.show .header {
    display: block !important;
    margin-top: 2.5vh !important;
    overflow-x: hidden !important;
  }
  #body.show .header__content {
    height: 100%;
    width: 100% !important;
    margin: 0 !important;
    position: relative;
  }
  #body.show .header__content__navbar {
    width: 100%;
    height: 100%;
    display: block !important;
    padding: 0;
    position: static;
  }
  #body.show .header__content__navbar__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 40px;
    margin: 0;
    width: 90% !important;
    text-align: left;
    background-color: #fff !important;
    border-bottom: 1px solid #eee;
  }
  #body.show .header__content__navbar__item .dropdown {
    visibility: visible;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  #body.show .header__content__navbar__item .dropdown__menu {
    width: 100% !important;
    padding: 0;
  }
  #body.show .header__content__navbar__item .dropdown__menu div {
    width: 50%;
  }
  #body.show .header__content__navbar__item .dropdown__menu__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  #body.show .header__content__navbar__item .dropdown__menu .header {
    margin-top: 10px;
  }
  #body.show .header__content__navbar__item .dropdown__image {
    display: none;
  }
  #body.show .header__content__navbar__item .dropdown-menu {
    visibility: visible;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100% !important;
  }
  #body.show .header__content__navbar__item .dropdown-menu__row {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #body.show .header__content__navbar__item .dropdown-menu__row__sub {
    width: 100% !important;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 0;
    visibility: visible !important;
  }
  #body.show .header__content__navbar .header__content__navbar__item:last-child {
    padding-bottom: 0;
  }
  #body.show .header__content__navbar .header__content__navbar__item:first-child {
    padding-top: 0;
  }
  #body.show .header__content .button-navbar {
    width: 100%;
  }
  #body.show .header__content .button-navbar button {
    margin: 0 !important;
    width: 100%;
  }
  #body.show .header__content__icon-open, #body.show .header__content__image {
    display: none !important;
  }
  #body.show .header__content__icon-close {
    display: block;
    position: absolute;
    right: 5%;
    top: 1%;
  }
  #body.show .header__content__icon-close img {
    width: 12px;
  }
  .header__content {
    margin-top: 30px;
  }
  .header__content__navbar {
    display: none !important;
  }
  .header__content__icon-open {
    display: block !important;
    position: absolute;
    right: 0;
  }
  .header__content__icon-open img {
    width: 25px;
  }
  .section .container {
    margin-top: 50px;
  }
  .section .container .content {
    margin: auto;
  }
  .section .container .content h1,
  .section .container .content span {
    width: 380px;
  }
  .section .container .content p {
    font-size: 19px;
    width: 100%;
  }
  .section .container .content__icon {
    width: 80px;
    margin: auto;
  }
  .section .container .content__card {
    width: 320px !important;
  }
  .section .container .content .content__paragraph--right {
    width: 320px;
  }
  .section .container .content .content__paragraph--right h2,
  .section .container .content .content__paragraph--right span {
    font-size: 24px;
  }
  .section .container .content .content__paragraph--right p {
    font-size: 17px;
    margin: 0;
    width: 100%;
  }
  .section .container .content .content__paragraph__row {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section .container .content .content__paragraph__row .flex-column {
    width: 100%;
  }
  .section-welcome .container .content span,
  .section-welcome .container .content h1 {
    font-size: 36px;
  }
  .section-shape .container {
    margin-top: 0;
  }
  .section-shape .container .content__paragraph {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 560px !important;
  }
  .section-shape .container .content__paragraph h2,
  .section-shape .container .content__paragraph span {
    font-size: 26px;
  }
  .section-shape .container .content__paragraph p {
    width: 100%;
  }
  .section-shape .container .content .card {
    position: relative;
  }
  .section-shape .container .content .card__image-curve {
    width: 340px;
    height: 435px;
  }
  .section-shape .container .content .card__text {
    width: 340px;
  }
  .section-shape .container .content .card__text span {
    font-weight: 600;
    font-size: 12px !important;
  }
  .section-shape .container .content .card__text p {
    padding-bottom: 20px;
    font-size: 20px;
    margin: 0;
    width: 90%;
  }
  .section-shape .container .content .card__text__icon {
    width: 130px;
  }
  .section-testimonials .container .content p {
    width: 380px !important;
  }
  .section-pricing .card,
  .section-pricing .card-left,
  .section-pricing .card-right {
    width: 100% !important;
  }
  .section-faq h3,
  .section-faq p {
    font-size: 17px !important;
  }
  .span--red {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 850px) {
  .header__content {
    max-width: 900px;
    min-width: 370px;
    width: 110vw;
    margin-top: 20px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .header__content__icon {
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  .header__content__icon img {
    width: 25px;
  }
  .section .container {
    width: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .container .content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .section .container .content h1,
  .section .container .content span {
    font-size: 36px;
    text-align: center;
    width: 100%;
  }
  .section .container .content p {
    font-size: 19px;
    text-align: center;
    width: 500px;
  }
  .section .container .content .button img {
    display: none;
  }
  .section .container .content__paragraph, .section .container .content__paragraph--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
  .section .container .content__paragraph h2,
  .section .container .content__paragraph span, .section .container .content__paragraph--right h2,
  .section .container .content__paragraph--right span {
    font-size: 26px;
  }
  .section .container .content__paragraph h1, .section .container .content__paragraph--right h1 {
    text-align: left;
    font-size: 19px;
  }
  .section .container .content__paragraph p, .section .container .content__paragraph--right p {
    width: 100% !important;
    text-align: left;
    max-width: none !important;
  }
  .section .container .content .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    border: none;
    position: static;
  }
  .section .container .content .card__image-curve {
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section .container .content .card__shape {
    display: none !important;
  }
  .section .container .content .card__text {
    margin: 20px 0;
    width: 100% !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section .container .content .card__text .relative {
    position: relative;
  }
  .section .container .content .card__text p {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
  }
  .section .container .content .card__text span {
    font-size: 12px !important;
  }
  .section .container .content .card__text__icon {
    width: 130px;
  }
  .section .container .photo {
    width: 100%;
    margin-bottom: 30px;
  }
  .section-brands .container .content {
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30.3% 30.3% auto;
        grid-template-columns: 30.3% 30.3% auto;
    margin: auto;
  }
  .section-brands .container .content__icon {
    width: 140px;
    padding: 8px 0;
  }
  .section-about .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-about .container .content__icon {
    width: 140px;
    padding: 8px 0;
  }
  .section-about .container .content__card {
    width: 500px !important;
  }
  .section-about .container .content .content__paragraph--right {
    width: 500px;
  }
  .section-about .container .content .content__paragraph--right h2,
  .section-about .container .content .content__paragraph--right span {
    font-size: 24px;
  }
  .section-about .container .content .content__paragraph--right p {
    text-align: left;
    font-size: 19px;
  }
  .section-about .container .content .content__paragraph__row {
    margin: 10px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-about .container .content .content__paragraph__row .flex-column {
    width: 100%;
  }
  .section-testimonials .container .content p,
  .section-faq .container .content p {
    text-align: left;
  }
  .section-testimonials .container .content__dashkit-image img,
  .section-faq .container .content__dashkit-image img {
    width: 100%;
  }
  .section-shape .paragraph {
    width: 500px !important;
  }
  .section-shape .paragraph h2,
  .section-shape .paragraph span {
    font-size: 26px;
  }
  .section-shape .paragraph h1 {
    text-align: left;
    font-size: 19px;
  }
  .section-shape .paragraph p {
    width: 100% !important;
    text-align: left;
    max-width: none !important;
  }
  .section-shape .container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .section-shape .container .content {
    width: 85%;
  }
  .section-shape .container .content .card__text {
    width: 460px;
    height: 300px;
    background-color: #fff !important;
    background-color: transparent;
    border-radius: 0 10px 10px;
    position: relative;
  }
  .section-shape .container .content .card__text .relative {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
    left: -100%;
    margin: auto;
    z-index: -10;
  }
  .section-shape .container .content .card__text .relative:nth-child(2) {
    left: 0;
    z-index: 4;
  }
  .section-shape .container .content .card__text .relative:nth-child(3) {
    left: 100%;
    z-index: -10;
  }
  .section-shape .container .content .card__text .relative:nth-child(4) {
    left: 200%;
    z-index: -10;
  }
  .section-shape .container .content .card__text span {
    font-size: 0.8rem;
    color: #869ab8;
  }
  .section-shape .container .content .card__text p {
    width: auto;
    color: #161c2d;
    line-height: 1.5;
    text-align: center;
    margin: 20px;
    padding: 0 10px;
  }
  .section-shape button {
    top: 75% !important;
  }
  .section-stats .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .section-stats .container .content__paragraph {
    margin-top: 30px;
  }
  .section-stats .container .content__paragraph h2,
  .section-stats .container .content__paragraph span {
    font-size: 24px;
  }
  .section-stats .container .content__paragraph p {
    text-align: left;
  }
  .section-stats .container .content img {
    width: 500px;
  }
  .section-pricing .card {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-pricing .card .card-left {
    width: 500px !important;
    margin-bottom: 20px;
  }
  .section-pricing .card .card-left__content__item {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-pricing .card .card-left__content__item p {
    text-align: left;
    font-size: 16px !important;
  }
  .section-pricing .card .card-right {
    width: 500px !important;
  }
  .section-pricing .card .card-right__content p {
    padding: 0 !important;
    padding-top: 1rem !important;
  }
  footer .container .content__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .span--red {
    font-size: 15px !important;
    text-align: left !important;
  }
}

@media only screen and (max-width: 575px) {
  .section {
    width: 100%;
    padding: 30px 0 !important;
  }
  .section .container {
    width: 100%;
    padding: 0 1rem !important;
  }
  .section .container .content {
    width: 100%;
    padding: 0;
  }
  .section .container .content p {
    width: 100%;
    padding: 0;
  }
  .section .container .content .item p {
    font-size: 16px;
  }
  .section .container .content__card, .section .container .content__paragraph--right {
    width: 100% !important;
  }
  .section .container .content__card__image, .section .container .content__paragraph--right__image {
    width: 100%;
  }
  .section .container .content .card-left {
    width: 100% !important;
  }
  .section .container .content .card-left span {
    color: #000;
    padding: 0;
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .section .container .content .card-left span:nth-child(1) {
    font-size: 24px !important;
  }
  .section .container .content .card-left span:nth-child(2) {
    font-size: 40px !important;
  }
  .section .container .content .card-left span:nth-child(3) {
    font-size: 24px !important;
    margin-top: 15px !important;
  }
  .section .container .content .card-right {
    width: 100% !important;
  }
  .section .container .content__paragraph {
    width: 100% !important;
  }
  .section .container .content__paragraph p {
    margin-top: 10px;
  }
  .section .container .content__paragraph__text h3,
  .section .container .content__paragraph__text p, .section .container .content__paragraph__row h3,
  .section .container .content__paragraph__row p {
    font-size: 17px;
  }
  .section .container .content__dashkit-image img {
    width: 100%;
  }
  .section .photo {
    width: 100%;
  }
  .section-shape .container--large {
    margin: 0 25px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fff;
  }
  .section-shape .paragraph {
    width: 90% !important;
  }
  .section-shape .container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .section-shape .container .content {
    width: 85%;
  }
  .section-shape .container .content .card__image-curve {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .section-brands .container .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .section-brands .container .content__icon {
    width: 130px;
    margin: auto;
  }
  .section-stats {
    padding-top: 12rem !important;
  }
  .section-stats .container .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-stats .container .content__paragraph h2,
  .section-stats .container .content__paragraph span {
    font-size: 24px;
  }
  .section-stats .container .content__paragraph h1 {
    text-align: left;
    font-size: 19px;
  }
  .section-stats .container .content__paragraph p {
    width: 100% !important;
    text-align: left;
    font-size: 19px;
    padding: 10px 0;
  }
  .section-stats .container .content__paragraph .flex-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-stats .container .content__paragraph .flex-column {
    margin-right: 10px;
  }
  .section-stats .container .content__paragraph .flex-column p {
    font-size: 17px;
  }
  .section-stats .container .content img {
    width: 320px !important;
  }
  footer .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  footer .container .content__left {
    padding-left: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
  color: #161c2d;
}

p {
  line-height: 1.5;
  font-size: 19px;
  color: #869ab8;
  margin: 0;
  padding: 10px 0;
}

.p--blue {
  color: #335eea;
  font-size: 0.9rem;
  padding: 0;
  font-weight: normal;
}

.p--gray {
  color: #506690;
  font-size: 0.9rem;
  padding: 0;
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  color: #161c2d;
}

a {
  text-decoration: none;
  color: #506690;
  font-size: 1.1rem;
}

label {
  font-size: 1rem;
  color: #869ab8;
}

.span {
  font-size: 2rem;
}

.span--blue {
  color: #335eea !important;
  padding: 0 !important;
}

.span--green {
  color: #42ba96 !important;
  padding: 0 !important;
}

.icon--small {
  width: 35px !important;
}

.icon--medium {
  width: 50px !important;
}

.icon--large {
  width: 30%;
  padding: 0 20px;
}

.icon--gray {
  color: #869ab8;
}

.icon--red {
  color: #ff5a5f;
}

.icon--dark-blue {
  color: #3f5d87;
}

.button button {
  position: relative;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.button button:hover {
  -webkit-box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
          box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1), 0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
  -webkit-transform: translate3d(0, -3px, 0);
          transform: translate3d(0, -3px, 0);
}

.lift {
  -webkit-transition: -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
  transition: -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
  transition: box-shadow .25s ease, transform .25s ease;
  transition: box-shadow .25s ease, transform .25s ease, -webkit-box-shadow .25s ease, -webkit-transform .25s ease;
}

.lift:hover {
  background-color: #389e80;
}

.button--blue {
  background-color: #335eea;
  border-color: #335eea;
  border: 1px solid transparent;
  color: #fff;
  border-radius: .375rem;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  margin: 0 5px;
  text-align: center;
  font-weight: 600;
}

.button--blue img {
  height: 15px;
  margin-left: 15px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.button--green {
  background-color: #42ba96;
  border-color: #42ba96;
  border: 1px solid transparent;
  color: #fff;
  border-radius: .375rem;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  margin: 0 5px;
  text-align: center;
  font-weight: 600;
}

.button--green img {
  height: 15px;
  margin-left: 15px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.button--gray {
  background-color: rgba(51, 94, 234, 0.15);
  border: 1px solid transparent;
  color: #335eea;
  border-radius: .375rem;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 5px;
  text-align: center;
}

.button--blue img {
  height: 13px;
  margin-left: 15px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gap-100 {
  gap: 0 100px;
}

.not-show {
  display: none;
}

.color {
  background-color: #335eea;
}

.border-top-bottom {
  border-bottom: 0.5px solid #ccc;
  border-top: 0.5px solid #ccc !important;
}

.center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  text-align: center !important;
  margin: auto !important;
}

.max-width {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.relative {
  position: relative;
}

.fz-12 {
  font-size: 12px !important;
}

.fz-15 {
  font-size: 15px !important;
}

.fz-17 {
  font-size: 17px !important;
}

.fz-19 {
  font-size: 19px !important;
}

.fz-22 {
  font-size: 22px !important;
}

.fz-31 {
  font-size: 22px !important;
}

.fz-37 {
  font-size: 22px !important;
}

.fz-44 {
  font-size: 22px !important;
}

.fz-50 {
  font-size: 22px !important;
}
/*# sourceMappingURL=styles.css.map */